.banner{
    background-image: url(images/bg.jpg);
    padding: 250px 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: white;
    opacity: 87%;
}
h1,h4{
    color: rgb(0, 0, 0);
    /*text-shadow: 1px 1px rgb(64, 60, 60);*/
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color:rgb(64, 60, 60);
}
.btn{
    margin-top: 21px;
    color: rgb(255, 255, 255);
    background-color: black;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    box-shadow:1px 1px 1px rgb(132, 130, 130);
    border: none;
}
*{
    font-family: 'Poppins',sans-serif;
}
.skills-padding{
    padding: 80px;
}
#sub-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 233);
}
#sub-btn:hover{
    color: rgb(54, 54, 233);
    background-color: white;
}
